.conditions {    
    background-color: $silver-100;
    &__list {        
        height: 146px;
        display: flex;
        justify-content: center;        
    }
    &__box {
        display: flex;
        justify-content: center;
        width: 264px;
        padding-top: 48px;
    }

    &__box:not(:last-child) {
        margin-right: 65px;
    }

    &__icon {
        margin-right: 24px;
        
        &--scooter {
            background-image: url(../images/condition-icons/scooter.svg);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
        }

        &--return {
            background-image: url(../images/condition-icons/return.svg);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;         
        }

        &--support {
            background-image: url(../images/condition-icons/d24hrs.svg);
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
        }
    }

    &__info{
        width: 190px;
        align-self: flex-start;
    }

    &__title {
        color: $dark-900;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
    }
    &__text {
        color: $dark-500;
    }
    
}