.footer {
    background-color: $dark-800;
    color: $white;
    
    &__top{
        display: flex;
        border-bottom: 1px solid $dark-500;
        
        &-logo {
            padding: 10px;
        }

        &-lists {
            display: flex;
            height: 140px;
            justify-content: space-between;
        }

        &-subscription {
         label{
                display: block;
            }
        }

        &-links {
            display: grid;
            grid-template-columns: 200px 200px 200px;
            grid-template-rows: 1fr 1fr 1fr;
        }

        &-item {
            width: 210px;            
            // margin-bottom: 10px;
            a {
                color: $white;
            }
        }
        &-socials {
            display: flex;
            }
        &-subscription{
            &-email {
                width: 180px;
                height: 40px;
                border: 0;
                border-radius: 6px 0 0 6px;
                padding-left: 12px;
            }
            &-submit {
                background-color: $green-900;
                height: 40px;
                color: $white;
                border: 0;
                border-radius: 0 6px 6px 0;
                text-transform: uppercase;
                font-family: "Open Sans Bold"; 
                font-size: 12px;
            }
        }

    }

    &__bottom {
        height: 78px;
        border-top: 1px solid $dark-800;
        
        &.container{
           display: grid; 
           grid-template-columns: 1fr 1fr;
           grid-template-rows: 1fr;
        }
        &-copy {
            text-transform: uppercase;
            font-weight: 400;
        }

        &-payments {
            display: flex;
            flex-direction: row;
        }
        &-payment:nth-child(1) {
            margin-right: 24px;
        }
    }
}

