.rotator__title{
    font-family: "Ruda Bold";
    font-weight: 900;
    font-size: 60px;    
    color: $dark-500;
}

.rotator__title span {
    display: block;
    color: $red-900;
}

.rotator__info{
    font-family: "Open Sans Regular"; 
    color: $dark-500;
    font-size: 16px;
    line-height: 1.4;
}